* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    margin: 20px auto 0;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    border: solid 1px;
    transition: 1s;
}

.invalid-flash {
    background-color: red;
    transition: 0s;
}

#turn-box {
    border: solid 1px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    transition: background-color 1s;
}

.win {
    background-color: lightgreen;
}

#names {
    display: flex;
    gap: 10px;
}

#names > div {
    text-align: center;
    display: flex;
    flex-direction: column;
}