* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: cyan;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    border: solid 1px;
}